@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E1D9CB;
  --foreground: #000000;
  --brand-primary: #2F4F46;
  --brand-footer-text: #F0ECE5;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-kaisei-decol), serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-instrument-serif), serif;
  }
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
